@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}
    <main id="main">

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">Login</h2>
                    <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="password" class="form-control" name="password" id="email" placeholder="Your password" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="yourKidsButton" type="submit" data-toggle="modal" data-target="#myModal">Login</button>
                                <br />

                                <a class="smallButtonLink" href="" target="_blank">Forgot password |</a>
                                <a class="smallButtonLink" href="register.html" target="_blank">Register&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <br />
                                <a class="smallButtonLink" href="yourKids.html">Click here to act if you are logging in. Note this will be removed</a>
                                <br />
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            </div>
        </section><!-- End Contact Section -->
    </main><!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
