@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@

<p>This is our login page</p>

@{ Html.RenderPartial("~/Views/Partials/_Login.cshtml", new LoginModel()); }
