@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using JuniorBuilder.Models
@{   
    try
    {
        if (Umbraco.MemberIsLoggedOn())
        {
            Layout = "loggedinMaster.cshtml";
            <main id="main">
                <!-- ======= Login Section ======= -->
                <section id="loginSection" class="contact section-bg">
                    <div class="container">
                        <div class="section-title">
                            <h2 data-aos="fade-in">Reset Password</h2>
                            <p data-aos="fade-in">Forgot your password? No worry we got you!</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="php-email-form" data-aos="fade-up">
                                    <div class="errorMsg">
                                        @{ Html.RenderPartial("~/Views/Partials/_ResetPassword.cshtml", new ResetPasswordModel()); }
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Login Section -->
            </main>
            <!--Back to top-->
            <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
        }
    }
    catch (Exception)
    {
        Response.Redirect("/reset-password");
    }
}
